*{ margin: 5px; 
  padding: 5px;
  text-align: center;
}
body{
    background-color:rgb(4, 29,49);
    text-align: center;
        
}
h1{
    text-align: justify;
    color: white;
    text-decoration: underline;
}

#name{
    width: 80%;
    padding: 5px;
    border-radius: 5%;
    outline: 0;
    border: 1px solid lightgray;
    
}

table{
    color: white;
    background-color: rgb(8, 48, 80);
    border-collapse: collapse;
    font-size: 16px;
    font-family: serif;
    align-items: center;
    text-align: justify;
       
}